@import "menu";

body{
    background-color: white;
    background-image: url(banner2.png);
    background-size: 1870px 1000px;
    margin: 0;

}

#exo2{
    font-family: exo2;
}

/*----------navegacion---------*/
.navegacion{
    padding: 10px;
    height: 200px;
    width: 1200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    ul{
        li{
            list-style: none;
            display: flex;
            gap: 10px;
            margin-left: 15px;
            padding: 0;
            float: left;
            a{
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                color: white;
                background-color: black;
                padding: 8px 12px;
                border-radius: 4px;
            }   
        }
    }
}
.botonesnav{
    justify-content: right;
    display: flex;
    margin-left: 560px;
    margin-top: -50px;
    width: 1200px;
    align-self: right;
    align-content: right;
    a{
        transition: all .5s ease;       
    }
    a:hover{
        background-color: white;
    }
}
/*-----------------Quien somos--------------*/
.presentacion{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 200px;
    margin-bottom: 180px;
    margin-top: 90px;
}
.cajapresentacion{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    @include boxshadown1();
}
.botonpresentacion{
    background-color: black;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    @include boxshadown1();
    transition: all .5s ease;
}
.botonpresentacion:hover{
    background-color: rgba(75, 75, 75, 0.544);
}
/*----------------Noticias---------------*/

.titulonoticias{
    background-color: #343739;
    text-align: center;
    color: white;
}
.noticias{
    display: flex;
    background-color: #343739;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.cajanoticias{
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: white;
    margin: 70px;
    @include boxshadown2();
    img{
        width: 600px;
        height: 300px;
        @include boxshadown3();
    }
}

.subrayado{
    text-decoration: underline;
}

h1{
    display: inline-block;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
h1::after,h1::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: white;
    top: 0.6em;
}
h1::before{
    left: -140px;
}
h1::after{
    right:-140px;
}

.black-noticia3{
    background-color: #343739;
    height: 300px;
}
.white-noticia3{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-left: 120px;
    margin-right: 120px;
    @include boxshadown2();
    font-family: Arial, Helvetica, sans-serif;
}
.img-noticia3{
    width: 250px;
    height: 150px;
    margin: 30px;
    border-radius: 10px;
    @include boxshadown3();
}
.sabermas{
    background-color: #343739;
    text-align: right;
    font-size: 40px;
    color: white;
    padding-right: 60px;
    padding-bottom: 60px;
    a{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
}

/*---------------registrarse---------*/
.registrarse{
    color: white;
    background-color: #1e2122;
    display: flex;
    margin: 100px 600px 150px 600px;
    justify-content: center;
    padding: 50px 0 50px 100px;
}

/*---------------historia------------*/
.historia{
    background-color: #1e2122;
}
.titulohistoria{
    text-align: center;
    color: white;
}
.personajes{
    text-align: left;
    font-size: 40px;
    color: white;
    font-family: exo2;
    padding-left: 60px;
}
.contenedor-cartas{
    width: 1600px;
    display: flex;
    justify-content: center;
    margin-left: 150px;
}
.cartas{
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.807);
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
    padding: 15px;
}
.cartas:hover{
    box-shadow: rgba(255, 255, 255, 0.995) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transform: translateY(-3%);
}
.cartas img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.cartas .contenido-carta{
    p{
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif;       
    }
    a{
        text-decoration: none;
        color: white;
        background-color: #343739;
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid black;
        transition: all 400ms ease;
        border-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.historia2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    margin-top: 20px;
}
.txthistoria2{
    flex: 1;
    margin-bottom: 280px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}
.parrafohistoria2{
    text-align: left;
    font-size: 20px;
    margin-top: 100px;
}
.video{
    width: 1280px;
    height: 720px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    box-shadow: rgba(201, 201, 201, 0.718) 0px 20px 30px -10px;
}



/*---------------Footer---------------*/
.footer{
    background-color:#343739;
    padding: 40px 0;
}
.imagenfooter{
    height: 200px;
    width: 200px;
    margin-right: 60px;
}
.footerfila{
    display: flex;
    width: 1200px;
    margin-left: -150px;
}
.links{
    width: 350px;
    padding: 0 5px;
    h4{
        font-size: 20px;
        color: white;
        display: inline-block;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 20px;       
    }
}
.links ul li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
}
.links ul li a:hover{
    color: white;
    padding-left: 6px;
}
.redes-sociales a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: black;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}
.redes-sociales a:hover{
    background-color: white;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1e2122;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.cronologia{
    img{
        width: 1850px;
        height: 400px;
    }
    p{
        color: black;
    }
}

/*------------nosotros------------*/

.nosotros{
    background-color: #1e2122;
    display: flex;
}

.titulonosotros{
    text-align: center;
    h2{
        font-size: 100px;
        text-shadow: 2px 1px 18px rgba(255, 255, 255, 1),4px 4px 23px rgba(255, 255, 255, 0.26);
    }
    h1{
        font-size: 40px;
        text-shadow: 2px 8px 24px rgba(255, 255, 255, 1);
    }
}
.linksnosotros{
    margin-left: 760px;
    margin-bottom: 190px;
}
.contenedortitulos{
    background-color: #1e2122;
    display: flex;
    color: white;
    font-size: 40px;
    justify-content: center;
}
.title{
    padding: 10px 170px;
}

.preguntas{
    background-color: #1e2122;
    padding: 0 300px 100px 300px;
    .titulopreguntas{
        color:white;
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
    }
    .font-size-large{
        font-size: 28px;
    }
}
